<script type="module" src="../../static/js/loadingJson/loadBasicFacts.js"></script>
<div>
	<div>
		<h2 id="stephanieName">Name 1</h2>
		<h3 id="stephanieTitle">Title</h3>
		<img id="stephanieImg"></img>
		<p id="stephanieFactOne">Fact 1</p>
		<p id="stephanieFactTwo">Fact 2</p>
		<p id="stephanieFactThree">Fact 3</p>
		<a href="{{ url_for('adventurerOverview', adventurer='stephanie') }}" class="btn btn-primary">
			Approach Stephanie
		</a>

	</div>
	<div>
		<h2 id="louiseName">Name 1</h2>
		<h3 id="louiseTitle">Title</h3>
		<img id="louiseImg"></img>
		<p id="louiseFactOne">Fact 1</p>
		<p id="louiseFactTwo">Fact 2</p>
		<p id="louiseFactThree">Fact 3</p>
		<a href="{{ url_for('adventurerOverview', adventurer='louise') }}" class="btn btn-primary">
			Approach Louise
		</a>
	</div>
</div>