<script type="module" src="../../static/js/loadResume.js"></script>
<div>
	<div>
		<h2 id="stephanieName">Name 1</h2>
		<h3 id="stephanieTitle">Title</h3>
		<img id="stephanieImg"></img>
		<p id="stephanieFactOne">Fact 1</p>
		<p id="stephanieFactTwo">Fact 2</p>
		<p id="stephanieFactThree">Fact 3</p>
		<button id="approachStephanie" onclick="changeText()"></button>
	</div>
	<div>
		<h2 id="louiseName">Name 1</h2>
		<h3 id="louiseTitle">Title</h3>
		<img id="louiseImg"></img>
		<p id="louiseFactOne">Fact 1</p>
		<p id="louiseFactTwo">Fact 2</p>
		<p id="louiseFactThree">Fact 3</p>
		<button id="approachLouise" onclick="changeText()"></button>
	</div>
</div>
