<div id="sideNav">
	<a href="{{ url_for('pastAdventures', adventurer=adventurer) }}" class="btn btn-primary">
		Past Adventures (Job History)
	</a>
	</br>
	<a href="{{ url_for('credentials', adventurer=adventurer) }}" class="btn btn-primary">
		Credentials (Education)
	</a>
	</br>
	<a href="{{ url_for('sideQuests', adventurer=adventurer) }}" class="btn btn-primary">
		Side Quests (Personal Projects)
	</a>
	</br>
	<a href="{{ url_for('skillsAndPowers', adventurer=adventurer) }}" class="btn btn-primary">
		Skills & Powers (Skills)
	</a>
	</br>
	<a href="{{ url_for('spellScrolls', adventurer=adventurer) }}" class="btn btn-primary">
		Spell Scrolls (Publications)
	</a>
</div>