{% extends "layout.html" %}
{% block main %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        loadCredentialsPage();
    });
</script>

{% include 'partials/side_nav.html' %}

<!-- Skills Page -->
{% include 'partials/page_title.html' %}
<div id="skillSetContainer"></div>

<!--Adventurer Download File, Send Email, and Return to Tavern Links-->
{% include 'partials/adventurer_footer.html'%}

<script type='module' src="{{ url_for('static', filename='../../static/js/pages/credentials-page.js')}}"></script>

{% endblock %}