{% extends "layout.html" %}
{% block main %}
<h1>Welcome to the Programming Dragon</h1>
<img src="{{ url_for('static', filename='images/Tavern.png') }}"/>
<script type="text/javascript" src="../../static/js/introButton.js"></script>

<h2 id="introText">As you enter the old tavern, the smell of roasted meat and ale hits your nose. Tempted as you are, you are not here
	for the libations this time.
	The maid behind the bar spots you and beckons.</h2>
<br />
<div id="idCards" hidden>
	{% include 'partials/intro_card.html'%}
</div>
<br />
<p id="barkeepSpeech">Come in come in, make yourself at home... </p>
<img src="{{ url_for('static', filename='images/MedievalMaiden.png') }}"/>
<button id="continue" onclick="changeText()">Continue</button>
{% endblock %}